<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.commit">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".Main.NoticeActivity">
        </activity>
        <activity android:name=".Main.PolicyActivity">
        </activity>
        <activity android:name=".Main.RuleActivity">
        </activity>
        <activity android:name=".Main.QuestionActivity">
        </activity>
        <activity android:name=".Main.AlarmActivity">
        </activity>
        <activity android:name=".Main.WriteActivity">
        </activity>
        <activity android:name=".Main.PostAcitivity">
        </activity>
        <activity android:name=".Main.MyPostActivity">
        </activity>
        <activity android:name=".Main.ProfileActivity">
        </activity>
        <activity android:name=".Intro.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Intro.GuideActivity"/>
        <activity android:name=".Intro.JoinActivity"/>
        <activity android:name=".Intro.LoginActivity"/>
        <activity android:name=".Intro.AcFindActivity"/>
        <activity android:name=".Intro.UniversityActivity"/>
        <activity android:name=".Main.MainActivity"/>
    </application>

</manifest>